/* D&D 5e */
.dnd5e2.application .monks-journal-sheet .sheet-tabs [data-tab].active span {
    border-bottom: none;
}

.monks-enhanced-journal.dnd5e2.journal-entry-page.application.titlebar .window-title {
    visibility: visible;
}
.monks-enhanced-journal.dnd5e2 .window-content {
    margin: 0px !important;
    padding: 0px !important;
}
/* War Hammer changes */
body.system-wfrp4e {
    --mej-footer-color: #111;
    --mej-header-bookmark-color: rgb(25, 24, 19);
    --mej-sheet-color: #111;
    --mej-sheet-header-color: #111;
    --mej-header-nav-color: #111;
    --mej-sheet-header-input-color: #111;
    --mej-sidebar-background: url(../../../systems/wfrp4e/ui/sidebar.webp) repeat;
}

:root:not([mejtheme]) body.system-wfrp4e {
    --mej-header-tab-background: url(../../../systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
    --mej-sidebar-button-background: url(../../../systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
    --mej-header-color: #111;
    --mej-footer-background: rgba(211, 209, 197);
    --mej-sheet-tab-background: url(../../../systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
}

:root[mejtheme] body.system-wfrp4e {
    --mej-header-tab-color: rgb(var(--mej-dark-4));
}

:root[mejtheme] body.system-wfrp4e .monks-enhanced-journal .directory .directory-header .header-actions.action-buttons button {
    color: rgb(var(--mej-dark-4));
}

body.system-wfrp4e .monks-enhanced-journal .window-content {
    padding: 10px 13px !important;
}

body.system-wfrp4e .monks-enhanced-journal .enhanced-journal-header .tab-bar .tab-button.sidebar-toggle {
    right: -32px;
}

body.system-wfrp4e .monks-enhanced-journal .monks-journal-sheet .header-name input::placeholder {
    color: #888;
}

body.system-wfrp4e .monks-enhanced-journal .enhanced-journal.collapse .enhanced-journal-header .tab-bar .tab-button.sidebar-toggle {
    right: 0px;
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar > section .directory-list {
    padding-right: 0px;
    margin-right: 0px;
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar #journal-directory .directory-list .directory-item {
    padding: 3px 3px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
    margin-left: 0px;
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar #journal-directory .directory-list .directory-item h3 i {
    display: inline-block;
}

body.system-wfrp4e .monks-enhanced-journal #journal-directory li.folder.collapsed > .folder-header .create-document {
    color: #dadada;
}

body.system-wfrp4e .monks-enhanced-journal #journal-directory li.folder:not(.collapsed) > .folder-header {
    background: rgba(255, 255, 255, 0.2);
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar #journal-directory li.folder.collapsed > .folder-header:not(.customcolor) {
    color: #dadada;
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar #journal-directory .directory-list .directory-item.journalentry {
    line-height: 19px;
}

body.system-wfrp4e .monks-enhanced-journal .directory-sidebar {
    background-position-y: 45px;
}

body.system-wfrp4e .monks-enhanced-journal.app.window-app .window-content {
    padding: 0px 0px 3px 0px;
}

body.system-wfrp4e .monks-enhanced-journal:not([background-image]) .content {
    background: url(../../../systems/wfrp4e/ui/frames/parchment-texture.webp);
    border-width: 10px;
    border-image: url(../../../systems/wfrp4e/ui/frames/window-app-journal-sheet-content.webp) 5 repeat;
    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 0px 0px 0px 0px;
}

body.system-wfrp4e .monks-enhanced-journal .content > section {
    padding-left: 4px;
}

:root:not([mejtheme]) body.system-wfrp4e .monks-enhanced-journal .enhanced-journal-header .tab-bar .journal-tab {
    color: #dadada;
    font-family: CaslonAntique;
}

body.system-wfrp4e .monks-enhanced-journal .directory .action-buttons button {
    font-family: CaslonAntique;
    box-shadow: none;
    margin: 4px 2px 1px 2px !important;
    line-height: 24px;
    height: 30px;
}

body.system-wfrp4e .monks-journal-sheet.sheet .sheet-tabs [data-tab] {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background: none;
    padding: 0px;
}

body.system-wfrp4e .monks-enhanced-journal .enhanced-journal-header .navigation .nav-input {
    background: url(../../../systems/wfrp4e/ui/frames/parchment-texture.webp);
    box-shadow: inset 0 0 10px #000000;
    border: 2px groove #564d3a;
    border-image: url(../../../systems/wfrp4e/ui/chat-controls-border.webp) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 1px;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-family);
    font-weight: var(--actor-input-font-weight);
    color: var(--actor-input-color);
    text-align: left;
}

body.system-wfrp4e .monks-enhanced-journal .enhanced-journal-header .navigation .nav-input::placeholder {
    color: rgb(var(--mej-dark-6));
}

body.system-wfrp4e .monks-enhanced-journal .details-section .form-group label {
    color: var(--mej-sheet-header-label-color);
    text-align: left;
}

body.system-wfrp4e .monks-enhanced-journal .details-section .form-group select {
    background: var(--mej-sheet-header-input-background);
    color: var(--mej-sheet-header-detail-input-color);
}

body.system-wfrp4e .monks-enhanced-journal .details-section .form-group input[type="checkbox"] {
    box-shadow: none;
}

body.system-wfrp4e .monks-enhanced-journal .monks-enhanced-journal footer {
    border-image: url(../../../systems/wfrp4e/ui/frames/hotkeybox.webp) 21 repeat;
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    border-image-outset: 0px 0px 0px 0px;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #dadada;
}

body.system-wfrp4e .monks-enhanced-journal .monks-enhanced-journal footer > div:hover {
    text-shadow: 0 0 8px #ff9f00 !important;
}

body.system-wfrp4e #journal-editcurrency .dialog-content,
body.system-wfrp4e #edit-attributes .dialog-content {
    background: url(../../../systems/wfrp4e/ui/frames/parchment-texture.webp);
}

/* GURPS */
body.system-gurps .monks-enhanced-journal .item-list .item {
    height: unset;
    line-height: unset;
}

body.system-gurps .monks-enhanced-journal .relationships .item-list .item {
    line-height: 70px;
    height: 70px;
}

/* AGE System */
body.system-age-system .monks-enhanced-journal .sheet-container .form-group label {
    font-size: var(--font-size-16);
}

/* PF1 System */
body.system-pf1 .pf1.monks-enhanced-journal table tr td:not(.nocenter),
body.system-pf1 .pf1.monks-enhanced-journal table tr th:not(.nocenter) {
    text-align: left;
}

/* PF2E System */
body.system-pf2e .monks-enhanced-journal.request-item.item-card {
    padding-bottom: 8px;
}

/* D&D 3.5 Custom System */
body.system-D35E {
    --mej-sidebar-button-background: url(../../../systems/D35E/icons/ui/long-button.png);
}

body.system-D35E .monks-enhanced-journal .content .sheet.monks-journal-sheet {
    border: 0px;
}

body.system-D35E .sheet-container .journal-sheet-header input[name='name'] {
    height: 32px;
    border-color: transparent !important;
}

body.system-D35E .monks-enhanced-journal .directory .directory-header .header-actions button {
    background-size: 100% 100%;
    border: none;
}

/* Starfinder */
body.system-sfrpg .monks-enhanced-journal .enhanced-journal-header .tab-bar .tab-button.sidebar-toggle {
    top: 1px;
}

body.system-sfrpg .monks-enhanced-journal .directory .directory-header .header-actions button {
    line-height: 20px;
}

/* Star Wars */
body.system-sw5e .monks-enhanced-journal .enhanced-journal-header .tab-bar .tab-button.sidebar-toggle {
    top: 1px;
}

body.system-sw5e .monks-enhanced-journal .directory .directory-header .header-actions button {
    line-height: 20px;
}

/* Fallout */
body.system-fallout .monks-enhanced-journal .window-content,
body.system-fallout .monks-journal-sheet .window-content {
    color: var(--color-text-dark-primary);
}

body.system-fallout .monks-enhanced-journal .wrapper,
body.system-fallout .monks-journal-sheet .wrapper {
    border-top: 0px;
}
/* Shadow of the Demon Lord System */
body.system-demonlord {
    --mej-background: url('../../../systems/demonlord/assets/ui/paper.webp') repeat;
    --mej-sidebar-background: url('../../../systems/demonlord/assets/ui/sidebar_background.webp');
    --mej-sidebar-document-color: rgba(255, 255, 224, 1);
    --mej-sheet-header-input-background: rgba(255, 255, 255, 0.05);
    --mej-itemlist-control-background: rgba(0, 0, 0, 0.4);
    --mej-footer-background: rgba(255, 255, 255, 0.05);
}

body.system-demonlord .sheet-container .tab.description {
    display: none;
}

body.system-demonlord .sheet-container .tab.description.active {
    display: block;
}

body.system-demonlord .sheet-container .sheet-tabs [data-tab] {
    font-size: var(--font-size-18);
}

/*
body.system-demonlord .sheet-container .items-list header .item-controls {
    height: 26px;
}
    */

body.system-demonlord .items-list .item .item-summary {
    color: rgba(0, 0, 0, 1);
}

/* Legend of the Five Rings*/
body.system-l5r5e {
    --mej-background: #fffae6 url(../../../systems/l5r5e/assets/imgs/bg-l5r.webp) no-repeat;
}
body.system-l5r5e .monks-enhanced-journal .window-content .enhanced-journal {
    padding: 0px;
}

/* Alien RPG */
body.system-alienrpg {
    --mej-itemlist-control-background: rgba(255, 255, 255, 0.1);
    --mej-sheet-header-input-color: var(--alientextjournal);
    --mej-sheet-color: var(--alientextjournal);
    --mej-sheet-header-label-color: var(--aliengreen);
    --mej-sheet-header-input-border: 1px solid var(--aliendarkergreen);
    --mej-sheet-header-input-background: hsl(0deg, 0%, 0%);
    --mej-sheet-header-detail-input-color: var(--alientextjournal);
    --mej-font-family: var(--alienfont);
    --mej-sidebar-document-color: var(--color-text-light-highlight);
    --mej-sidebar-folder-context-color: var(--color-text-light-highlight);
    --mej-footer-background: rgba(0, 0, 0, 0.8);
}
body.system-alienrpg .monks-enhanced-journal .window-content .enhanced-journal {
    padding: 0px;
}

body.system-alienrpg .sheet-container .journal-sheet-header.header-name input[type="text"] {
    font-size: 32px;
    height: 34px;
}

body.system-alienrpg .sheet-container .journal-sheet-header .header-details .form-group label {
    max-width: 215px;
}

body.system-alienrpg .monks-enhanced-journal #context-menu {
    width: 100%;
    height: max-content;
    min-width: 150px;
    max-width: 360px;
    position: absolute;
    left: 0;
    background: #23221d;
    border: 1px solid var(--color-border-dark);
    border-radius: 5px;
    color: var(--color-text-light-1);
    z-index: calc(var(--z-index-app) + 1);
}

body.system-alienrpg .monks-enhanced-journal #context-menu.expand-down {
    top: calc(100% + 2px);
}

body.system-alienrpg .monks-enhanced-journal #context-menu.expand-up {
    bottom: calc(100% + 2px);
}

body.system-alienrpg .monks-enhanced-journal #context-menu ol.context-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

body.system-alienrpg .monks-enhanced-journal #context-menu li.context-item {
    padding: 0 5px;
    line-height: 32px;
    font-size: var(--font-size-14);
}

body.system-alienrpg .monks-enhanced-journal #context-menu li.context-item > i {
    margin-right: 5px;
}

/* Forbidden Lands */
body.system-forbidden-lands {
    --mej-background: #fff;
    --mej-sheet-tab-color-active: #44191a;
}
body.system-forbidden-lands .sheet-container h1 input[name='name'] {
    text-align: left;
}

body.system-forbidden-lands .sheet-container .journal-sheet-header.header-name input[type="text"] {
    font-size: 24px;
    height: 35px;
}

body.system-forbidden-lands .monks-enhanced-journal .directory-list .directory-item h3 {
    text-align: left;
}

body.system-forbidden-lands .sheet-container .journal-sheet-header .header-details .form-group input {
    height: var(--form-field-height);
}

body.system-forbidden-lands .monks-enhanced-journal .directory .directory-header .header-actions button {
    line-height: 20px;
}
/* Chronicles of Darkness */
body.system-mta {
    --mej-background: var(--color-background);
    --mej-sheet-color: var(--color-text-main);
    --mej-sheet-header-input-color: var(--color-text-main);
    --mej-sheet-header-label-color: var(--color-text-main);
    --mej-sheet-header-detail-input-color: darkslategrey;
    --mej-footer-background: rgba(255, 255, 255, 0.2);
    --mej-sheet-header-button-color: #808080;
    --mej-sheet-header-button-background: rgba(255, 255, 240, 0.8);
    --mej-slideshow-add-slide: rgba(255, 255, 255, 0.2);
    --mej-itemlist-background: rgba(255, 255, 255, 0.4);
    --mej-itemlist-colour: rgb(25, 24, 19);
    --mej-sheet-header-input-background: var(--background-input);
    --mej-sheet-header-input-border: var(--border-input);
    --mej-sheet-input-border: var(--border-input);
    --mej-sheet-input-background: var(--background-input);
    --mej-sidebar-label-color: var(--color-text-dark-primary);
}

/* Kult Divinity */
body.system-k4lt {
    --mej-sheet-header-label-color: #968c6a;
    --mej-itemlist-item-name: #968c6a;
    --mej-header-tab-background: rgba(34, 32, 33, 0.5);
    --mej-header-tab-border: 1px solid #b5b3a4;
    --mej-blank-color: #968c6a;
}

body.system-k4lt .monks-enhanced-journal .fas {
    vertical-align: unset;
}

/*
body.system-k4lt .monks-enhanced-journal .monks-journal-sheet .items-list .item-controls a {
    font-size: var(--font-size-16);
    padding: 1px;
    height: 26px;
    flex: 0 0 26px;
}
    */

body.system-k4lt .monks-enhanced-journal .enhanced-journal-header .tab-bar .journal-tab {
    font-family: 'IM Fell Pica DW';
}

/* Vaesen */
body.system-vaesen {
    --mej-sheet-tab-color: #eeeeee;
    --mej-sheet-tab-border: 1px solid #af9c8d;
    --mej-sheet-tab-color-active: #412017;
    --mej-sheet-tab-border-active: #412017;
    --mej-background: hsl(40, 20%, 80%);
}
body.system-vaesen .monks-enhanced-journal .content {
    max-width: 100%;
}
body.system-vaesen .monks-enhanced-journal .content .sheet.journal-sheet {
    margin: 0px;
    max-width: 100%;
}

body.system-vaesen .monks-enhanced-journal .journal-sheet-header .header-details .form-group input {
    margin-top: 0px;
}

body.system-vaesen .monks-enhanced-journal .enhanced-journal-header .navigation .nav-input,
body.system-vaesen .monks-enhanced-journal .header-name input,
body.system-vaesen .monks-enhanced-journal .journal-sheet-header .header-details .form-group input,
body.system-vaesen .monks-enhanced-journal .sheet-body .details-section input {
    filter: none;
}

body.system-vaesen .monks-enhanced-journal .tab.notes textarea.trim-textarea {
    height: calc(100% - 12px);
}
/* Cypher System */
body.system-cyphersystem .monks-enhanced-journal .items-list .item-name,
body.system-cyphersystem .monks-enhanced-journal .items-list .item-name h3,
body.system-cyphersystem .monks-enhanced-journal .items-list .item-name h4 {
    text-indent: 0px;
    padding-left: 4px;
}

body.system-cyphersystem .monks-enhanced-journal .journal-sheet-header .header-details .form-group input {
    margin: 0px;
}

body.system-cyphersystem .monks-enhanced-journal .journal-sheet-header .header-details .form-group select,
body.system-cyphersystem .monks-enhanced-journal h1 input[name='name'] {
    text-align: left;
    text-align-last: left;
}
/* Worlds without number */
body.system-wwn .monks-enhanced-journal .items-list header.collapsed {
    display: flex;
}

/* Stars without number */
body.system-swnr .monks-enhanced-journal .window-content i.fas {
    padding-top: 2px;
}
body.system-swnr .monks-enhanced-journal .navigation .nav-input.search {
    padding-left: 4px;
    padding-top: 2px;
}
body.system-swnr .monks-enhanced-journal .navigation .nav-button {
    line-height: 26px;
}
body.system-swnr .monks-enhanced-journal .window-content .journal-entry-content h1:not(.noborder) {
    font-size: 2em;
    border-bottom: 2px solid var(--color-underline-header);
}

body.system-swnr .monks-enhanced-journal .window-content .journal-entry-content h2:not(.noborder) {
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-underline-header);
}

body.system-swnr .monks-enhanced-journal .window-content .journal-entry-content h3:not(.noborder) {
    font-size: 1.25em;
    border-bottom: 1px solid var(--color-underline-header);
}

body.system-swnr .monks-enhanced-journal .enhanced-journal .enhanced-journal-header .tab-bar .tab-button.sidebar-toggle {
    padding-top: 4px;
}

body.system-swnr .monks-enhanced-journal .window-content .header-actions.action-buttons button {
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 4px;
}

/* The Witcher */
body.system-TheWitcherTRPG .monks-enhanced-journal .tab.description {
    margin: 0px;
}

body.system-TheWitcherTRPG .monks-enhanced-journal .tab.description .editor {
    border: none;
}

/* Mausritter */
body.system-mausritter .monks-enhanced-journal .items-list .item {
    height: unset;
}

/* Shadowrun */
body.system-shadowrun5e .monks-enhanced-journal .content,
body.system-shadowrun5e .monks-enhanced-journal .journal-subsheet.flexcol > *,
body.system-shadowrun5e .monks-enhanced-journal .tab-inner:not(.slide-details).flexcol > *:not(.reward-list):not(.currency-group):not(.details-section),
body.system-shadowrun5e .monks-enhanced-journal .content.flexcol > *,
body.system-shadowrun5e .monks-enhanced-journal .loot-container .loot-items,
body.system-shadowrun5e .monks-enhanced-journal .list-list {
    flex: 1;
}

 /* Simple World Builder */
body.system-worldbuilding .monks-enhanced-journal form.journal-header {
    height: unset;
}

/* EMU Layout */
.-emu-layout body.-emu {
    --mej-background: RGBA(var(--emu-color-background-lightest,230,233,235),var(--emu-background-opacity-window-content,1));
    --mej-adventure-toc-background: RGB(var(--emu-color-background,41,62,64));
}
.-emu-layout body.-emu .monks-journal-sheet.journal-sheet.sheet.window-app .window-content form.sheet-body.flexcol {
    flex-direction: column;
    flex-wrap: nowrap;
}

.-emu-layout body.-emu .monks-journal-sheet.journal-sheet.sheet.window-app .window-content .editor-edit {
    top: 0px;
    right: 4px;
}
.-emu-layout body.-emu .monks-enhanced-journal .journal-sheet-header .header-details .form-group input {
    height: 22px;
}

.-emu-layout body.-emu .directory .directory-item.journalentry .permissions {
    border-bottom-right-radius: 4px;
}

.-emu-layout body.-emu .monks-journal-sheet .journal-sheet-header.header-name input[type="text"] {
    background: transparent;
    border: transparent;
}
/* Tidy UI */
.monks-enhanced-journal .tidy5e.sheet.actor .list-layout {
    height: 100%;
}

.monks-enhanced-journal .tidy5e.sheet.actor .main-notes {
    overflow: hidden;
}

.monks-enhanced-journal .tidy5e.sheet.actor .left-notes,
.monks-enhanced-journal .tidy5e.sheet.actor .right-notes {
    overflow-y: auto;
}

.monks-enhanced-journal .tidy5e.sheet.actor .tab.journal {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 0.75rem;
    overflow-y: scroll;
    overflow-x: inherit;
}

.monks-enhanced-journal .tidy5e.sheet.actor .tab.attributes.active,
.monks-enhanced-journal .tidy5e.sheet.actor .tab.journal.active {
    display: flex;
}
