<div>
    <div class="flexcol make-offer-container">
        <p class="notes" style="flex: 0 0 20px;">Drop an Actor or an Item here to select which character is making the offering</p>
        <div class="document-details">
            <div class="form-group">
                <div class="form-fields" style="flex-wrap:nowrap;">
                    <img class="actor-icon" src="{{actor.img}}" />
                    <h3 class="noborder">{{actor.name}}</h3>
                    <label style="white-space:nowrap;">Private Offer</label>
                    <input type="checkbox" class="private" {{checked private}} />
                </div>
            </div>
        </div>
        {{#if currency}}
        <div class="currency-group">
            <header>
                <div class="name">{{localize 'MonksEnhancedJournal.Currency'}}</div>
            </header>
            <div class="currency-row">
                {{#each currency}}
                <div class="form-fields flexrow">
                    <label data-tooltip="{{localize this.name}}">{{localize this.name}}</label>
                    <input type="text" class="currency-field" name="{{this.id}}" placeholder="0" value="{{lookup @root.coins this.id}}" data-dtype="Number" />
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <div class="items-list offering-items">
            <header>
                <div class="item-name">{{localize 'MonksEnhancedJournal.Items'}}</div>
                <div></div>
                <div class="quantity">
                    {{localize 'MonksEnhancedJournal.Quantity'}}
                </div>
                <div class="controls"></div>
            </header>
            {{#if (gt items.length 0)}}
            <ol class="item-list min-height">
                {{#each items}}
                <li class="item offering-item" data-id="{{this.id}}">
                    <div>
                        <img class="item-image" src="{{this.img}}" />
                    </div>
                    <div class="item-name">
                        {{this.name}}
                    </div>
                    <div class="quantity">
                        <span class="offering-qty">{{this.qty}}</span>
                    </div>
                    <div class="controls">
                        <button type="button" class="inline-control icon fas fa-trash" data-tooltip="{{localize 'MonksEnhancedJournal.RemoveOffering'}}" data-action="removeOffering"></button>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{else}}
            <div class="instruction">Drag items here, from a player's inventory, to make an offer</div>
            {{/if}}
        </div>
    </div>
</div>
