<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="col left" style="justify-content: center;">
        {{#if (eq type "encounter")}}
        <button class="control-icon" data-action="encounter">
            <i class="fas fa-fist-raised" data-tooltip="{{localize 'MonksEnhancedJournal.StartEncounter'}}"></i>
        </button>

        <button class="control-icon" data-action="select">
            <i class="fas fa-expand" data-tooltip="{{localize 'MonksEnhancedJournal.SelectEncounter'}}"></i>
        </button>

        <button class="control-icon" data-action="assign">
            <i class="fas fa-suitcase" data-tooltip="{{localize 'MonksEnhancedJournal.AssignItems'}}"></i>
        </button>
        {{/if}}
        {{#if (eq type "quest")}}
        <button class="control-icon" data-action="assign">
            <i class="fas fa-suitcase" data-tooltip="{{localize 'MonksEnhancedJournal.AssignItems'}}"></i>
        </button>
        {{/if}}
    </div>

    <div class="col middle">
    </div>

    <div class="col right" style="justify-content: center;">

        {{#if isGM}}
        <button class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" data-tooltip="{{localize "HUD.ToggleVis"}}">
        </button>
        {{/if}}
    </div>
</form>