<div class="monks-enhanced-journal request-item item-card">
    <div class="flexrow" style="align-items: center;flex: 0 0 30px;">
        <img src="{{actor.img}}" class="reqest-chat-icon chat-actor-icon" style="width: 30px; height: 30px; flex: 0 0 30px; object-fit: contain;" />
        <div style="margin-bottom:0px;">{{actor.name}}</div>
    </div>
    <div class="flexrow" style="align-items: center; flex: 0 0 30px;">
        <img src="{{shop.img}}" class="reqest-chat-icon chat-shop-icon" style="width: 30px; height: 30px; flex: 0 0 30px; object-fit: contain;" />
        <div style="margin-bottom:0px;">{{shop.name}}</div>
    </div>

    <div class="items-list purchase-items" style="overflow: hidden; height: 100%; display: flex; flex-direction: column;margin-top: 8px;">
        <header style="font-family: var(--mej-font-family);align-items: center; display: grid; gap: 0.25rem; margin: 0; padding: 2px; position: relative; text-align: left; background: rgba(0, 0, 0, 0.2); border: 2px groove #eeede0; ">
            <div class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Items'}}</div>
        </header>

        <ol class="item-list" style="align-items: center; display: grid; gap: 0.25rem; margin: 0; padding: 2px; position: relative; text-align: left; overflow-y: auto; height: 100%; max-height: 200px; margin: 0px; ">
            {{#each items}}
            <li class="item flexrow" data-id="{{this._id}}" style="display: flex;">
                <img src="{{this.img}}" class="reqest-chat-icon item-icon" style="width: 30px; height: 30px; flex: 0 0 30px;" />
                <div>{{this.name}}</div>
            </li>
            <li class="item flexrow" data-id="{{this._id}}" style="display: flex;">
                <div class="item-name flexrow">
                    <div>{{localize 'MonksEnhancedJournal.Quantity'}}{{#if this.flags.monks-enhanced-journal.maxquantity}}  <i><small>(Max {{this.flags.monks-enhanced-journal.maxquantity}})</small></i>{{/if}}</div>
                </div>

                <div class="item-quantity flexrow" style="flex: 0 0 70px;">
                    <input class="gm-only" type="number" min="0" {{#if this.flags.monks-enhanced-journal.maxquantity}} max="{{this.flags.monks-enhanced-journal.maxquantity}}" {{/if}} step="1" data-dtype="Number" name="flags.monks-enhanced-journal.quantity" value="{{this.flags.monks-enhanced-journal.quantity}}" style="text-align:right;" />
                    <span class="player-only" style="text-align: right; padding-right: 4px;">{{this.flags.monks-enhanced-journal.quantity}}</span>
                </div>
            </li>
            {{#if this.flags.monks-enhanced-journal.total}}
            <li class="item flexrow" data-id="{{this._id}}" style="display: flex;">
                <div class="item-name flexrow">
                    <div>{{localize 'MonksEnhancedJournal.Price'}}</div>
                </div>

                <div class="item-price flexrow" style="flex: 0 0 70px;">
                    <input class="gm-only" type="text" name="flags.monks-enhanced-journal.sell" value="{{this.flags.monks-enhanced-journal.sell}} {{this.flags.monks-enhanced-journal.currency}}" style="text-align:right;" />
                    <span class="player-only" style="text-align: right; padding-right: 4px;">{{this.flags.monks-enhanced-journal.sell}} {{this.flags.monks-enhanced-journal.currency}}</span>
                </div>
            </li>
            <li class="item flexrow" data-id="{{this._id}}" style="display: flex; border-top: 1px solid #FFFFFF;">
                <div class="item-name flexrow">
                    <div style="font-weight:bold;">{{localize 'MonksEnhancedJournal.Total'}}</div>
                </div>

                <div class="item-total flexrow">
                    <span style="text-align: right; padding-right: 4px;">{{this.flags.monks-enhanced-journal.total}} {{this.flags.monks-enhanced-journal.currency}}</span>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
    <div class="gm-only flexrow request-buttons" style="flex: 0 0 30px; margin-top: 8px;">
        <button type="button" class="request-accept"><i class="fas fa-check"></i> {{localize 'MonksEnhancedJournal.Accept'}}</button>
        <button type="button" class="request-reject"><i class="fas fa-times"></i> {{localize 'MonksEnhancedJournal.Reject'}}</button>
    </div>
    <div class="player-only flexrow request-buttons" style="flex: 0 0 30px; margin-top: 8px;">
        <button type="button" class="request-reject"><i class="fas fa-times"></i> {{localize 'MonksEnhancedJournal.Cancel'}}</button>
    </div>
    <footer class="card-footer" style="padding: 3px 0 0; border-top: 2px groove rgb(255, 255, 255); flex-grow: 0;"></footer>
</div>
