<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="sheet-container encounter-container flexcol">
        {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-header.hbs"}}
        {{> "templates/generic/tab-navigation.hbs" tabs=subtabs}}
        <section class="sheet-body">
            <div class="tab{{#if subtabs.description.active}} active{{/if}}" data-group="primary" data-tab="description">
                {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-textentry.hbs"}}
            </div>
            <div class="tab{{#if subtabs.monsters.active}} active{{/if}}" data-group="primary" data-tab="monsters">
                {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-monsters.hbs"}}
            </div>
            <div class="tab{{#if subtabs.loot.active}} active{{/if}}" data-group="primary" data-tab="loot">
                <div class="tab-inner flexcol">
                    {{#if currency}}
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-currency.hbs"}}
                    {{/if}}
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-encounter-items.hbs"}}
                </div>
            </div>
            <div class="tab{{#if subtabs.dcs.active}} active{{/if}}" data-group="primary" data-tab="dcs">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-dcs.hbs"}}
                </div>
            </div>
            <div class="tab notes{{#if subtabs.notes.active}} active{{/if}}" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-notes.hbs"}}
                </div>
            </div>
        </section>
    </div>
</form>
