<form class="flexcol journal-subsheet sheet-body {{entrytype}}{{#if isGM}} gm{{/if}}{{#if owner}} owner{{/if}}" editable="{{editable}}">
    <div class="sheet-container loot-container flexrow" style=" flex-wrap: nowrap;">
        <div class="flexcol" style="height: 100%; flex-grow: 0;padding: 4px;">
            <div class="sheet-image">
                <img class="profile nopopout" src="{{data.src}}" data-action="addImage" data-dblclick-action="showImage" data-contextmenu-action="contextImage" data-edit="src" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/loot.png' }">
            </div>
            <div class="loot-characters">
                {{#if owner}}
                <header class="flexrow">
                    <a class="item-control" data-tooltip="Add Players" data-action="addPlayers"><i class="fas fa-users"></i></a>
                    <a class="item-control" data-tooltip="Clear Players" data-action="clearPlayers"><i class="fas fa-dumpster"></i></a>
                </header>
                {{/if}}
                <ol class="loot-character-list flexcol">
                    {{#each characters}}
                    <li class="loot-character" data-tooltip="{{this.name}}" id="{{this.id}}" data-dblclick-action="openActor">
                        <img class="nopopout" src="{{this.img}}" />
                        <div class="character-name">{{this.name}}</div>
                        {{#if this.letter}}<div class="loot-player" data-tooltip="{{this.username}}" style="background-color: {{this.color}};">{{this.letter}}</div>{{/if}}
                    </li>
                    {{else}}
                    {{#if owner}}
                    <li class="instruction" style="height: 90px;">{{localize 'MonksEnhancedJournal.msg.DragActorsHere'}}</li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="flexcol" style="height: 100%;">
            {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-header.hbs"}}
            <header class="journal-sheet-header flexrow">
                <section class="header-details">
                    <div class="form-group owner-only">
                        <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerReceiving'}}</label>
                        <select class="shop-state" name="flags.monks-enhanced-journal.purchasing">
                            {{ selectOptions purchaseOptions selected=data.flags.monks-enhanced-journal.purchasing localize=true }}
                        </select>
                    </div>
                </section>
            </header>
            <section class="sheet-body flexcol">
                {{#if currency}}
                {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-currency.hbs"}}
                {{/if}}
                <div class="loot-items" style="flex: 1; overflow: hidden;">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-loot-items.hbs"}}
                </div>
            </section>
        </div>
    </div>
</form>