<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="sheet-container detailed person-container flexcol">
        {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-detailed-header.hbs"}}
        {{> "templates/generic/tab-navigation.hbs" tabs=subtabs}}
        <section class="sheet-body">
            <div class="tab{{#if subtabs.description.active}} active{{/if}}" data-group="primary" data-tab="description">
                {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-textentry.hbs"}}
            </div>
            <div class="tab{{#if subtabs.entry-details.active}} active{{/if}}" data-group="primary" data-tab="entry-details">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-details.hbs"}}
                </div>
            </div>
            <div class="tab{{#if subtabs.relationships.active}} active{{/if}}" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-relationships.hbs" groups=relationships hasRelationship=has.relationships}}
                </div>
            </div>
            <div class="tab{{#if subtabs.offerings.active}} active{{/if}}" data-group="primary" data-tab="offerings">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-offerings.hbs"}}
                </div>
            </div>
            <div class="tab notes{{#if subtabs.notes.active}} active{{/if}}" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-notes.hbs"}}
                </div>
            </div>
        </section>
    </div>
</form>