<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="sheet-container slideshow-container flexcol{{#if playing}} playing{{/if}}">
        {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-header.hbs"}}
        {{> "templates/generic/tab-navigation.hbs" tabs=subtabs}}
        <section class="sheet-body">
            <div class="tab {{#if subtabs.slide-details.active}} active{{/if}}" data-group="primary" data-tab="slide-details">
                <div class="tab-inner slide-details flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-slide-details.hbs"}}
                </div>
            </div>
            <div class="tab slides{{#if subtabs.slides.active}} active{{/if}}" data-group="primary" data-tab="slides">
                <div class="tab-inner flexcol">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-slides.hbs"}}
                </div>
            </div>
        </section>
    </div>
</form>
