<div>
    <div class="flexcol journal-subsheet" editable="{{editable}}">
        <div class="sheet-container journal-container flexcol">
            {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-header.hbs"}}
            {{> "templates/generic/tab-navigation.hbs" tabs=subtabs}}
            <section class="sheet-body">
                <div class="tab{{#if subtabs.description.active}} active{{/if}}" data-group="primary" data-tab="description">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-textentry.hbs"}}
                </div>
                <div class="tab{{#if subtabs.picture.active}} active{{/if}}" data-group="primary" data-tab="picture">
                    {{> "modules/monks-enhanced-journal/templates/sheets/partials/sheet-image.hbs"}}
                </div>
            </section>
        </div>
    </div>
</div>