<aside class="sidebar flexcol">
    <nav class="tabs vertical scrollable page-tabs">
        {{#each sheettypes as |type|}}
        <button type="button" data-action="tab" data-group="sheet-settings" class="plain category-tab{{#if (eq type @root.activePage)}} active{{/if}}" data-tab="{{type}}">
            <span>{{ localize (concat 'MonksEnhancedJournal.sheettype.' type) }}</span>
        </button>
        {{/each}}
    </nav>
    <footer class="form-footer">
        <button class="reset-all" type="button" data-action="reset">
            <i class="fa-solid fa-arrow-rotate-left" inert></i> Reset Defaults
        </button>
    </footer>
</aside>
<div class="main flexcol">
    <div class="categories flexcol" autocomplete="off">
        {{#each sheettypes as |type|}}
        <section class="tab category{{#if (eq type @root.activePage)}} active{{/if}}" data-group="sheet-settings" data-tab="{{type}}" data-category="{{type}}">
            {{> "modules/monks-enhanced-journal/templates/customise/customise-page.html" settings=(lookup @root.sheetSettings type)}}
        </section>
        {{/each}}
    </div>
    <footer class="form-footer">
        <button type="submit">
            <i class="fa-solid fa-floppy-disk" inert></i> Save Changes
        </button>
    </footer>
</div>